header {
  background-color: #322f3b;
  color: #f4cccc;
}

body {
  background-color: #322f3b;
  color: #f4cccc;
}

h1, h2, h3, h4, h5, h6 {
  color: #f4eacc;
}

footer {
  background-color: #322f3b;
  color: #f4cccc;
}


code {
  background-color: #ff2f3b;
  color: #cfd8dc;
}
