header {
  background-color: #322f3b;
  color: #f4cccc;
}

body {
  background-color: #322f3b;
  color: #f4cccc;
}

h1, h2, h3, h4, h5, h6 {
  color: #f4eacc;
}

footer {
  background-color: #322f3b;
  color: #f4cccc;
}

.modal-content {
  background-color: #6f4c72;
}



a {
  color: #9966FF; /* Set your desired color using a hex code, RGB, or color name */
  text-decoration: none; /* Optional: Remove the default underline */
}

a:hover {
  color: #4DE1FF; /* Set a different color when the link is hovered over (optional) */
}


.output {
  background-color: #00eaea;  /* Change this color to your desired output background color */
  padding: 10px;
  border-radius: 15px;
  color: #000000;
}

div.datatables {
  color: #ffffff !important;
}

:root {
  dt-row-hover: 255, 255, 255;

}

/*Text output*/
pre:not([class]) { /* R output */
  background-color: #BBEEF6;
}

/*main panel*/
pre{
  background-color: #330937;
  color: #f4eacc;
  border: #000000;
}

/*side panel*/
.well{
  background-color: #57163a;
  border: #000000;
}

.btn-default {
  color: #f4eacc;
  background-color: #330937;
}

.form-control {
  color: #f4eacc;
  background-color: #330937;
}

.input-group-addon {
  color: #f4eacc;
  background-color: #330937;
}

