header {
  background-color: #322f3b;
  color: #f4cccc;
}

body {
  background-color: #322f3b;
  color: #f4cccc;
}

h1, h2, h3, h4, h5, h6 {
  color: #f4eacc;
}

footer {
  background-color: #322f3b;
  color: #f4cccc;
}


code {
  background-color: #ff2f3b;
  color: black;
}

a {
  color: #9966FF; /* Set your desired color using a hex code, RGB, or color name */
  text-decoration: none; /* Optional: Remove the default underline */
}

a:hover {
  color: #4DE1FF; /* Set a different color when the link is hovered over (optional) */
}


.output {
  background-color: #00eaea;  /* Change this color to your desired output background color */
  padding: 10px;
  border-radius: 15px;
  color: #000000;
}

div.datatables {
    color: #d3bebe;
}

